# Firebase Configuration - COPY TO .env AND FILL WITH YOUR VALUES
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=monsite-85424.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=monsite-85424
VITE_FIREBASE_STORAGE_BUCKET=monsite-85424.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=736268363141
VITE_FIREBASE_APP_ID=1:736268363141:web:1acf814ce570374ccb90ec
VITE_FIREBASE_MEASUREMENT_ID=G-WG4CRFJWJJ
